App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

# Written by the Codemagic build from the GOOGLE_SERVICE_INFO_PLIST variable
App/App/GoogleService-Info.plist
